html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get( $colors, 'background' );
    font-family: 'Avenir Next', Helvetica, sans-serif;
    letter-spacing: 1px; 

}

h1 {
    margin: 0;
    color: map-get( $colors, 'atm-highlight' );
    font-weight: 800;
    font-size: 70px
}

[ng-cloak] {
  display: none !important;
}