.Atm {
    width: map-get( $layout, 'atm-width' );
    height: map-get( $layout, 'atm-height' );
    background: map-get( $colors, 'atm-body' );
    border-radius: 20px;
    overflow: hidden;

    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: map-get( $layout, 'atm-header-height' );
        background: map-get( $colors, 'atm-shade' );
    }

    &-body {
        display: flex;
        padding: map-get( $layout, 'spacing' );
        height: map-get( $layout, 'atm-height' ) - map-get( $layout, 'atm-header-height' );
    }

    &-output {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: map-get( $layout, 'atm-width' ) * map-get( $constants, 'golden-ratio' );
    }

    &-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) );
        margin-left: map-get( $layout, 'spacing' );
    }

    &-screen {
        height: map-get( $layout, 'atm-height' ) - map-get( $layout, 'atm-header-height' ) - map-get( $layout, 'atm-money-height' ) - map-get( $layout, 'spacing' ) * 3;
        width: 100%;
    }

    &-receipt {
        height: map-get( $layout, 'atm-receipt-height'); 
        width: map-get( $layout, 'atm-receipt-width' ); 
        background: map-get( $colors, 'atm-shade');
        border-bottom: 1px solid map-get( $colors, 'atm-card' ); 
        margin-top: map-get( $layout, 'spacing' ) / 2; 
    }

    &-money {
        margin-top: map-get( $layout, 'spacing' ) / 2;
        height: map-get( $layout, 'atm-money-height' );
        width: 100% * map-get( $constants, 'golden-ratio' );
        background: map-get( $colors, 'atm-shade' );
        border-bottom: 3px solid map-get( $colors, 'atm-card' ); 
    }

    &-card {
        height: map-get( $layout, 'atm-card-height' );
        width: 100% * ( 1 - map-get( $constants, 'golden-ratio' ) );
        background: map-get( $colors, 'atm-card' );
        cursor: pointer;
    }

    &-icon {
        color: map-get( $colors, 'atm-highlight'); 
        margin-top: map-get( $layout, 'spacing' ) / 2; 
    }

    &-keypad {
        margin-top: map-get( $layout, 'spacing' );
        background: map-get( $colors, 'atm-shade' );
        padding: map-get( $layout, 'spacing' );
        height: map-get( $layout, 'atm-height' ) - map-get( $layout, 'atm-header-height' ) - map-get( $layout, 'atm-card-height' ) - map-get( $layout, 'spacing' ) * 3 - map-get( $layout, 'atm-icon-size');
        width: 80%;
        display: flex; 
        justify-content: center;
    }
}

.Screen {
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    background-color: map-get( $colors, 'screen-shade' );
    color: map-get( $colors, 'screen-text' ); 
    font-weight: 400;

    &.is-interactive {
        .Screen-start-description {
            /**margin-right: 100% * ( 1 - map-get( $constants, 'golden-ratio' ) );**/
            margin-right: 50%; 
        }
        .Screen-start-menu {
            right: 0;
        }
    }

    &-start {

        height: 100%;
        position: relative;
        display: flex; 
        
        &-description {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center; 
            width: 100%; 
            padding: map-get( $layout, 'spacing' );
            font-size: 20px;  
            transition: margin-right 0.2s;
            position: relative; 
        }

        &-eject {
            display: flex; 
            align-items: center; 
            justify-content: center; 
            position: absolute; 
            height: 30px; 
            background: map-get( $colors, 'screen' ); 
            bottom: 30px; 
            font-size: 14px; 
            text-transform: uppercase; 
            cursor: pointer;
            padding: 10px; 

            &-icon {
                margin-right: 10px; 
            }

            &.not-ejectable {
                display: none; 
            }
        }

        &-menu {
            position: absolute;
            /**right: -( 100% * ( 1 - map-get( $constants, 'golden-ratio' ) ) );
            width: 100% * ( 1 - map-get( $constants, 'golden-ratio' ) );**/
            right: -50%; 
            width: 50%; 
            height: 100%; 
            display: flex; 
            flex-direction: column;
            justify-content: center;
            font-size: 14px;
            transition: right 0.2s;
            padding: 20px 30px; 

            &-item {
                height: 50px; 
                width: 100%; 
                background: map-get( $colors, 'screen' ); 
                /**border: 10px solid map-get( $colors, 'screen' );**/
                margin: 5px 0; 
                display: flex; 
                justify-content: center;
                text-transform: uppercase; 
                align-items: center;
                cursor: pointer;

                &:hover {
                    background: map-get( $colors, 'screen-highlight' );   
                }
            }
        }
    }

    &-cancelPayment {

        padding: 20px; 
        position: relative; 
        height: 100%; 

        &-header {
            text-align: center; 
            font-weight: 600; 
            margin-bottom: 30px; 
        }

        &-noPayments {
            height: 90%; 
            display: flex; 
            justify-content: center; 
            align-items: center;  
        }

        &-payment {
            background: map-get( $colors, 'screen' ); 
            margin: 10px; 
            padding: 10px; 
            display: flex;
            align-items: center; 

            &-accounts {
                margin: 10px; 
                width: 200px; 
            }

            &-amount {
                width: 200px;
                display: flex; 
                justify-content: center; 
                align-items: center;   
            }

            &-cancel {
                font-size: 22px; 

                &:hover {
                    color: map-get( $colors, 'keypad-cancel' ); 
                }
            }
        }
    }
}

.Keypad {
    height: 100%;
    width: 100%; 
    padding: map-get( $layout, 'keypad-spacing'); 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background: map-get( $colors, 'keypad-body' );

    &-confirmation {
        width: 100%;
        justify-content: space-between;
    }

    &-numeric, &-confirmation {
        display: flex; 
        flex-wrap: wrap; 
    }

    &-key {

        height: map-get( $layout, 'keypad-key-size'); 
        width: map-get( $layout, 'keypad-key-size'); 
        border-radius: 5px; 
        margin: map-get( $layout, 'keypad-spacing' ); 
        display: flex; 
        align-items: center;
        justify-content: center;
        font-weight: 600; 
        cursor: pointer; 
        background: map-get( $colors, 'keypad-highlight' );
        font-size: 22px;
        color: map-get( $colors, 'atm-body' );

        &--confirm {
            background: map-get( $colors, 'keypad-confirm');
            color: white; 
        }

        &--cancel {
            background: map-get( $colors, 'keypad-cancel'); 
            color: white;
        }
    }
}

.Receipts {
    display: flex; 
    align-items: flex-end;
    position: absolute; 
    bottom: 0; 
    height: 40px; 
    width: 100%;
    pointer-events: auto;

    &-item {
        position: absolute;
        bottom: -340px;
        background: white; 
        width: map-get( $layout, 'atm-receipt-width' ); 
        height: 400px; 
        margin: 10px 10px 0px 10px; 
        padding: 10px 5px; 
        transition: bottom 0.4s, left 0.4s;
        cursor: pointer;
        text-align: center; 

        @for $i from 0 through 5 {
            &:nth-child( #{ $i + 1 } ) {
                left: ( map-get( $layout, 'atm-receipt-width' ) + 20px ) * $i;
            }
        }

        &:not( .is-unclickable ):hover {
            bottom: -330px;
        }

        &.is-active {
            bottom: 140px !important;
            left: 20px
        }

        &-date {
            font-size: 14px; 
            color: map-get( $colors, 'keypad-body' ); 
            margin-bottom: 5px; 
        }

        &-description {
            height: 260px; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            border-top: 1px dotted map-get( $colors, 'keypad-body' );; 
            border-bottom: 1px dotted map-get( $colors, 'keypad-body' );;  
            margin: 20px; 
        }
    }
}

.Card {
    position: absolute;
    right: 0;
    transform: translate( -10px, 80px );
    transform-origin: 50% 50%;
    height: map-get( $layout, 'card-height' ); 
    width: map-get( $layout, 'card-width' );  
    background: map-get( $colors, 'card' ); 
    border-radius: 10px; 
    padding: 10px; 
    color: white;
    bottom: 0; 
    transition: transform 0.2s;
    pointer-events: auto;
    cursor: pointer; 

    &:hover {
        transform: translate( -10px, 10px );
    }

    &-visa {
        position: absolute; 
        right: 0; 
        margin-right: 10px; 
    }

    &-info {
        height: 100%; 
        display: flex; 
        flex-direction: column;
        justify-content: flex-end; 
        align-items: flex-end;

        &-number, &-date {
            margin-bottom: 5px; 
        }
    }

    &.is-inserted {
        animation: insert 1.5s;
        animation-fill-mode: forwards;
    }

    &.is-ejected {
        animation: eject 0.5s; 
        animation-fill-mode: forwards;
    }

    &.is-taken {
        animation: take 1s; 
        animation-fill-mode: forwards;
    }

    @keyframes insert {
        50%  {
            transform: translate( ( map-get( $layout, 'card-width' ) / 2 ) + ( map-get( $layout, 'atm-width' ) / 2 ) - ( map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) ) ) / 2 - map-get( $layout, 'spacing' ) / 2 + 3px, 0 ) rotate( 90deg );
            bottom: 300px; 
            right: 50%;
        }
        100% {
            transform: translate( ( map-get( $layout, 'card-width' ) / 2 ) + ( map-get( $layout, 'atm-width' ) / 2 ) - ( map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) ) ) / 2 - map-get( $layout, 'spacing' ) / 2 + 3px, 0 ) rotate( 90deg );
            bottom: 700px;
            right: 50%;
        }
    }

    @keyframes eject {
        0% {
            transform: translate( ( map-get( $layout, 'card-width' ) / 2 ) + ( map-get( $layout, 'atm-width' ) / 2 ) - ( map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) ) ) / 2 - map-get( $layout, 'spacing' ) / 2 + 3px, 0 ) rotate( 90deg );
            bottom: 700px;
            right: 50%;
        }
        100% {
            transform: translate( ( map-get( $layout, 'card-width' ) / 2 ) + ( map-get( $layout, 'atm-width' ) / 2 ) - ( map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) ) ) / 2 - map-get( $layout, 'spacing' ) / 2 + 3px, 0 ) rotate( 90deg );
            bottom: 520px;
            right: 50%;
        }
    }

    @keyframes take {

        0% {
            transform: translate( ( map-get( $layout, 'card-width' ) / 2 ) + ( map-get( $layout, 'atm-width' ) / 2 ) - ( map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) ) ) / 2 - map-get( $layout, 'spacing' ) / 2 + 3px, 0 ) rotate( 90deg );
            bottom: 520px;
            right: 50%;
        }
        50% {
            transform: translate( ( map-get( $layout, 'card-width' ) / 2 ) + ( map-get( $layout, 'atm-width' ) / 2 ) - ( map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) ) ) / 2 - map-get( $layout, 'spacing' ) / 2 + 3px, 0 ) rotate( 90deg );
            bottom: 300px; 
            right: 50%;
        }
        100% {}
    }

    &-wrapper {
        pointer-events: none;
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: calc( 50% + #{ ( map-get( $layout, 'atm-height' ) / 2 ) - map-get( $layout, 'atm-header-height' ) - map-get( $layout, 'spacing' ) - 3px } );
        top: calc( 50% - #{ ( map-get( $layout, 'atm-height' ) / 2 ) - map-get( $layout, 'atm-header-height' ) - map-get( $layout, 'spacing' ) - 3px } );
    }
}
