.Atm {
    width: map-get( $layout, 'atm-width' );
    height: map-get( $layout, 'atm-height' );
    background: map-get( $colors, 'atm-body' );
    border-radius: 20px;
    overflow: hidden;

    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: map-get( $layout, 'atm-header-height' );
        background: map-get( $colors, 'atm-shade' );
    }

    &-body {
        display: flex;
        padding: map-get( $layout, 'spacing' );
        height: map-get( $layout, 'atm-height' ) - map-get( $layout, 'atm-header-height' );
    }

    &-output {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: map-get( $layout, 'atm-width' ) * map-get( $constants, 'golden-ratio' );
    }

    &-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: map-get( $layout, 'atm-width' ) * ( 1 - map-get( $constants, 'golden-ratio' ) );
        margin-left: map-get( $layout, 'spacing' );
    }

    &-screen {
        height: map-get( $layout, 'atm-height' ) - map-get( $layout, 'atm-header-height' ) - map-get( $layout, 'atm-money-height' ) - map-get( $layout, 'spacing' ) * 3;
        width: 100%;
    }

    &-money {
        margin-top: map-get( $layout, 'spacing' );
        height: map-get( $layout, 'atm-money-height' );
        width: 100% * map-get( $constants, 'golden-ratio' );
        background: map-get( $colors, 'atm-shade' );
        border-bottom: 3px solid map-get( $colors, 'atm-card' ); 
    }

    &-card {
        height: map-get( $layout, 'atm-card-height' );
        width: 100% * ( 1 - map-get( $constants, 'golden-ratio' ) );
        background: map-get( $colors, 'atm-card' );
        cursor: pointer;
    }

    &-icon {
        color: map-get( $colors, 'atm-highlight'); 
        margin-top: map-get( $layout, 'spacing' ) / 2; 
    }

    &-keypad {
        margin-top: map-get( $layout, 'spacing' );
        background: map-get( $colors, 'atm-shade' );
        padding: map-get( $layout, 'spacing' );
        height: map-get( $layout, 'atm-height' ) - map-get( $layout, 'atm-header-height' ) - map-get( $layout, 'atm-card-height' ) - map-get( $layout, 'spacing' ) * 3 - map-get( $layout, 'atm-icon-size');
        width: 80%;
        display: flex; 
        justify-content: center;
    }
}

.Screen {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    background-color: map-get( $colors, 'screen' );
    display: flex; 
    color: map-get( $colors, 'screen-highlight' ); 
    font-weight: 400;

    &.is-interactive {
        .Screen-description {
            margin-right: 100% * ( 1 - map-get( $constants, 'golden-ratio' ) );
        }
        .Screen-menu {
            right: 0;
        }
    }

    &-description {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        padding: map-get( $layout, 'spacing' );
        font-size: 20px;  
        transition: margin-right 0.2s;
    }

    &-menu {
        position: absolute;
        right: -( 100% * ( 1 - map-get( $constants, 'golden-ratio' ) ) );
        width: 100% * ( 1 - map-get( $constants, 'golden-ratio' ) );
        height: 100%; 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        transition: right 0.2s;

        &-item {
            height: 50px; 
            width: 100%; 
            background: map-get( $colors, 'screen-shade' ); 
            border: 10px solid map-get( $colors, 'screen' ); 
            display: flex; 
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.Keypad {
    height: 100%;
    width: 100%; 
    padding: map-get( $layout, 'keypad-spacing'); 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background: map-get( $colors, 'keypad-body' );

    &-confirmation {
        width: 100%;
        justify-content: space-between;
    }

    &-numeric, &-confirmation {
        display: flex; 
        flex-wrap: wrap; 
    }

    &-key {

        height: map-get( $layout, 'keypad-key-size'); 
        width: map-get( $layout, 'keypad-key-size'); 
        border-radius: 5px; 
        margin: map-get( $layout, 'keypad-spacing' ); 
        display: flex; 
        align-items: center;
        justify-content: center;
        font-weight: 600; 
        cursor: pointer; 
        background: map-get( $colors, 'keypad-highlight' );
        font-size: 22px;
        color: map-get( $colors, 'atm-body' );

        &--confirm {
            background: map-get( $colors, 'keypad-confirm');
            color: white; 
        }

        &--cancel {
            background: map-get( $colors, 'keypad-cancel'); 
            color: white;
        }
    }
}
