$constants: (
    'golden-ratio': 0.618
);

$colors: (
    'background': #1abc9c,
    'atm-body': #34495e,
    'atm-shade': #2c3e50,
    'atm-highlight': #ecf0f1,
    'atm-card': #11181f,
    'screen': #3498db,
    'screen-shade': #2980b9,
    'screen-highlight': #59abe3, 
    'screen-text': white, 
    'screen-text-shade': #89d4ff, 
    'keypad-body': #6c7a89,
    'keypad-confirm': #46c67B,
    'keypad-cancel': #e24D57,
    'keypad-highlight': #8f9dac,
    'card': #003171, 
    'card-green': #26C281,
    'card-yellow': #F5AB35,
    'card-red': #C91F37,
    'money-50': #4DAF7C, 
    'money-100': #DB5A7e, 
    'money-200': #59ABE3, 
    'money-500': #F3C13A, 
    'money-1000': #8D608C, 
    'money-security': #D2D7D3
);

$layout: (
    'spacing': 40px,
    'atm-width': 960px,
    'atm-height': 650px,
    'atm-header-height': 150px,
    'atm-receipt-height': 8px,
    'atm-receipt-width': 200px,
    'atm-money-height': 40px,
    'atm-card-height': 10px,
    'atm-icon-size': 50px,
    'screen-spacing': 20px, 
    'keypad-key-size': 40px,
    'keypad-spacing': 7px,
    'card-height': 120px, 
    'card-width': 200px, 
    'money-height': 180px, 
    'money-width': 380px, 
    'money-spacing': 15px, 
    'money-left': 110px,
    'money-security-width': 35px
);